@using ProjectileMotionWeb.Models;
@using ProjectileMotionWeb.Controllers;
@model DisplayMotionWithRezistanceModel


<div class="row@(Model.ShowLargerMotionChart ? " flex-column-reverse" : string.Empty)">
    <div class="@(Model.ShowLargerMotionChart ? "col-12" : "col-xl-5")">
        @Html.Partial("_MotionInformation", new _MotionInformationModel(Model.Motion.Saving.GetDataToFiles()))
    </div>
    <div class="@(Model.ShowLargerMotionChart ? "col-12" : "col-xl-7")">
        @Html.Partial("_MotionChart", new _MotionChartModel(
            Model.Motion,
            Model.ShowMotionWithoutRezistanceCourseToo
            )
        )

        <div class="text-center">
            @Html.Partial("_MotionChartTools", new _MotionChartToolsModel(Model.ShowLargerMotionChart, Model.ShowMotionWithoutRezistanceCourseToo, true))
        </div>
    </div>
</div>